<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098687706274-baqrvb24dq3dfub4qkvlta6kadprnnoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098687706274-baqrvb24dq3dfub4qkvlta6kadprnnoh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098687706274-3l15mbd493m2mdg9d97e7tk6rtk0qko7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYYCEjm0YVTgKsXgYNo5H6ZogeBGfwX0A</string>
	<key>GCM_SENDER_ID</key>
	<string>1098687706274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.idhiniweb</string>
	<key>PROJECT_ID</key>
	<string>idhini-d448e</string>
	<key>STORAGE_BUCKET</key>
	<string>idhini-d448e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098687706274:ios:7e5be3f3eae6cb4cfbd3fb</string>
</dict>
</plist>